<!-- views/profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: #1DB954; /* Spotify green */
      background-image: url('/logo-spotify-icon-4096.png'); /* Replace with the path to your Spotify logo image */
      background-size: cover;
      background-position: center;
      color: white; /* Set text color to white for better contrast */
    }
  </style>
</head>
<body>
<!-- views/profile.ejs -->

<!-- views/profile.ejs -->

<div class="container mt-4 text-center">
    <h2 class="text-center mb-4">Profile Page</h2>

    <div class="row justify-content-center text-center">
        <div class="col-md-4">
            <div class="text-center">
                <img src="<%= user.photos[0].value %>" alt="User Photo" class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                <p class="mt-2">Welcome, <%= user.displayName %>!</p>
                <a href="/logout" class="btn btn-danger mt-2">Logout</a>
            </div>
        </div>
    </div>
    
            <!-- Form to create a new playlist -->
<div class="mt-4 text-center">
    <h2>Create a New Playlist</h2>
    <form action="/create-playlist" method="post">
        <div class="form-group">
            <label for="playlistName">Playlist Name</label>
            <input type="text" id="playlistName" name="playlistName" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Playlist</button>
    </form>
</div>
        
            <!-- Display user playlists with artwork and delete button -->
            <% if (playlists && playlists.length > 0) { %>
                <h2 class="mt-4">Your Playlists</h2>
                <div class="row justify-content-center text-center">
                <% playlists.forEach((playlist) => { %>
                    <div class="col-md-4 mb-4 text-center">
                    <div class="card" style="background-color: #1DB954; color: white;">
                        <% if (playlist.images && playlist.images.length > 0) { %>
                            <a href="/playlist/<%= playlist.id %>">
                                <img src="<%= playlist.images[0].url %>" class="card-img-top" alt="Playlist Art">
                            </a>
                        <% } %>
                        <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="/playlist/<%= playlist.id %>"><%= playlist.name %></a>
                        </h5>
                        <form action="/delete-playlist" method="post">
                            <input type="hidden" name="playlistId" value="<%= playlist.id %>">
                            <button type="submit" class="btn btn-danger">Delete Playlist</button>
                          </form>
                          
                        </div>
                    </div>
                    </div>
                <% }); %>
                </div>
            <% } else { %>
                <p>No playlists available.</p>
            <% } %>
  
        </div>



        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-primary mt-4">Back to Home</a>
        </div>
</div>


<!-- Add these lines to your HTML file(s) for Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

