<!-- views/youtube-playlist.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Playlist</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #FF0000; /* YouTube red */
            background-image: url('/logo-youtube-icon-4096.png'); /* Replace with the path to your YouTube logo image */
            background-size: cover;
            background-position: center;
            color: white; /* Set text color to white for better contrast */
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <h2 class="text-center mb-4">YouTube Playlist: <%= playlistName %></h2>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
                <!-- Add the playlist image if available -->
                    <img src="<%= listItem.pic[0] %>" alt="Playlist Image" class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                <p class="mt-2">Playlist by <%= playlist.owner.display_name %></p>
            </div>
        </div>
    </div>

    <div class="card mt-4" style="background-color: #FF0000; color: white;">
        <div class="card-body text-center">
            <h5 class="card-title">Playlist Tracks</h5>
            <div class="row justify-content-center">
                <% tracks.forEach((track) => { %>
                    <div class="col-md-4 mb-4">
                        <div class="card" style="background-color: #FF0000; color: white;">
                            <!-- Album Art Card -->
                            <div class="card-img-top">
                                <!-- Add the track thumbnail if available -->
                                <% if (track.snippet.thumbnails && track.snippet.thumbnails.medium) { %>
                                    <img src="<%= track.snippet.thumbnails.medium.url %>" alt="Album Art" class="img-fluid" style="object-fit: cover;">
                                <% } %>
                            </div>

                            <!-- Track Info Card -->
                            <div class="card-body">
                                <h5 class="card-title"><%= track.snippet.title %></h5>
                                <p class="card-text">by <%= track.snippet.channelTitle %></p>

                                <!-- Video Preview -->
                                <iframe width="100%" height="150" src="https://www.youtube.com/embed/<%= track.id.videoId %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js CDN links (if needed) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        const response = await fetch(playlistsUrl, {
                headers: {
                    'Authorization': `Bearer ${accessToken}`
                }
            });

            const data = await response.json();
            data.items.forEach((playlist) => {
            const listItem = document.createElement('li');
            listItem.pic = playlist.snippet.thumbnails.default.url;
            
    </script>

</div>

</body>
</html>
